@media only screen and (max-width: 1266px) {
  .info-content.visible:nth-child(odd) {
    transform: translateX(0px);
    opacity: 1;
  }
  .info-content:nth-child(odd) {
    transform: translateX(-150px);
  }
  .info-content.visible:nth-child(even) {
    transform: translateX(0px);
    opacity: 1;
  }
  .info-content:nth-child(even) {
    transform: translateX(150px);
  }
}
@media only screen and (max-width: 1129px) {
  /* ---  header  --- */

  .hero-right {
    width: 17rem;
    height: 17rem;
  }
  /* ---  contect  --- */
  .contect .container .c-box {
    gap: 1.8rem;
  }
  .resume .container {
    width: 90%;
  }
}
@media only screen and (max-width: 1065px) {
  /* ---  header  --- */
  .hero-right {
    width: 15rem;
    height: 15rem;
  }
}
@media only screen and (max-width: 1028px) {
  body,
  html {
    font-size: 97%;
  }
  .hero-left .main-title {
    font-size: 2.2rem;
  }
  .hero-left .main-title .title {
    font-size: 5.4rem;
  }
  .c-right {
    flex: 50%;
  }
}
@media only screen and (max-width: 935px) {
  .hero .container {
    gap: 1rem;
  }
  .hero-right {
    width: 14rem;
    height: 14rem;
  }
  /* ---  navbar --- */
  .navbar {
    gap: 1.33rem;
  }
  .navlist li a {
    padding: 0.6rem 0.75rem;
  }
  .row {
    width: 100%;
  }
}
@media only screen and (max-width: 885px) {
  .hero-left .main-title {
    font-size: 1.8rem;
  }
  .hero-left .main-title .title {
    font-size: 4.5rem;
  }
  .hero-left p {
    font-size: 1.3rem;
  }
  /* ---  navbar --- */
  .navbar {
    gap: 1rem;
  }
  .navlist li a {
    padding: 0.5rem 0.65rem;
  }
  .navbar .brand #brand-img {
    width: 10.9rem;
  }
}
@media only screen and (max-width: 845px) {
  html {
    font-size: 97%;
  }
  .header {
    padding: 10px 0;
  }
  .navbar {
    display: none;
    display: block;
    text-align: center;
    position: relative;
  }
  .navlist {
    flex-direction: column;
    z-index: 100;
    height: 210px;
    width: 100%;
    padding: 10px 0;
    margin: 2.5rem auto 1rem;
  }

  .navlist li,
  .navlist li:nth-child(2) {
    margin: 0.7rem 0.7rem 0.7rem 0;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10%;
    top: 22px;
    transition: all 0.5s ease;
  }
  .h-nav-resp {
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 1;
    height: 50px;
    /* overflow-x: hidden; */
    transition: all 0.5s ease;
  }
  .v-class-resp {
    opacity: 0;
    transform: translateX(-5500px);
  }
  .btn {
    margin: auto;
  }
  .brand {
    /* padding: 10px 0; */
    position: relative;
    left: 50%;
    top: 0%;
    z-index: 111;
    min-width: 270px;
    transform: translateX(-48%) translateY(0%);
  }
  .about .row {
    width: 80%;
  }
}
@media only screen and (max-width: 792px) {
  .hero-left .main-title {
    font-size: 1.6rem;
  }
  .hero-left .main-title .title {
    font-size: 4rem;
  }
  .hero-left p {
    font-size: 1.2rem;
  }
  .about .row {
    width: 85%;
  }
}
@media (max-width: 741px) {
  .hero-left .main-title {
    font-size: 1.4rem;
  }
  .hero-left .main-title .title {
    font-size: 3.8rem;
  }
  .hero-left p {
    font-size: 1.1rem;
  }
  .hero-right {
    width: 13rem;
    height: 13rem;
  }
  .portfolio .project .p-item {
    width: 12rem;
  }
}
@media (max-width: 768px) {
  .c-right {
    background-attachment: scroll; /* Mobile fallback */
  }
}
@media only screen and (max-width: 700px) {
  .container {
    width: 95%;
  }
  .hero-left {
    width: fit-content;
    margin: auto;
  }
  .hero-left .main-title {
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-left .main-title .title {
    font-size: 3.2rem;
  }
  .hero-left #typed {
    font-size: 1.1rem;
    width: fit-content;
    margin: auto;
  }
  .hero .resume-btn {
    margin: auto;
  }
  .social-icone {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
  }
  .about .row {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .portfolio .project {
    width: 100%;
    gap: 16px;
  }
  .portfolio .project .p-item {
    width: 9rem;
  }
  .project .p-item .p-name {
    height: 2rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 608px) {
  .portfolio .filter-buttons ul {
    width: 18rem;
    gap: 0.5rem;
    margin: auto;
    justify-content: flex-start;
  }
  .portfolio .filter-buttons ul li {
    font-size: 0.9rem;
    padding: 8px;
    transition: all 0.3s ease-in;
  }
}

@media only screen and (max-width: 400px) {
  .project {
    width: 100%;
  }
  .project .p-item {
    width: 8.5rem !important;
  }
  .portfolio .project {
    gap: 12px;
  }
  .info-box {
    gap: 1rem;
  }
  .info-box .info-content .info {
    width: 17rem;
    gap: 0.5rem;
  }
  .info-box .info-content .info p {
    margin: 0 0 0.5rem;
  }
  .info-box .heading {
    margin: 23px auto 30px;
  }
}
