@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Lilita+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #3b5060;
  --white: #fff;
  --primary-font: #1b262c;
  --secondary-font: #0f4c75;
  --primary-bg: #bbe1fa;
  --secondary-bg: #3282b8;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  width: 100vw;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.1rem;
  text-align: left;
}
h1,
h2,
h3 {
  font-family: "Karla", sans-serif;
  color: var(--primary-font);
}
p,
li,
a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: justify;
  color: var(--primary-font);
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-c {
  flex-direction: column;
}
.justify-start {
  justify-content: flex-start;
}
.align-top {
  align-items: normal !important;
}
.flex-start {
  align-items: flex-start;
}
.heading {
  margin: 20px auto 50px;
}
.container {
  width: 85%;
  margin: auto;
  padding: 80px 0;
  overflow-x: hidden;
  height: fit-content;
}
/* ---------------------------------------------------- */
/* .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
} */

/* ************************************** */
/* loder */
/* ************************************** */
#loader-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #0000;
  background: linear-gradient(90deg, #524656 50%, #0000 0) -25% 100%/50% 3px repeat-x
    border-box;
  position: relative;
  animation: l3-0 0.75s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--secondary-bg);
  animation: l3-1 0.75s cubic-bezier(0, 900, 1, 900) infinite;
}
@keyframes l3-0 {
  to {
    background-position: -125% 100%;
  }
}
@keyframes l3-1 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
  text-align: center;
}

/* ************************************** */
/* hero */
/* ************************************** */
.hero {
  height: 100vh;
}
.hero .container {
  justify-content: center;
  gap: 2.75rem;
  flex-wrap: wrap;
}
.hero-left {
  /* gap: 1rem; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--primary-font);
}
.hero-left .main-title {
  font-size: 3rem;
  text-align: left;
  width: fit-content;
}
.hero-left .main-title .title {
  width: fit-content;
  font-family: "Lilita One", cursive;
  font-size: 6rem;
  line-height: 5.8rem;
  letter-spacing: 0.3rem;
}
.hero p {
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-align: initial;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.hero .resume-btn {
  /* margin: auto; */
  margin-top: 10px;
  width: fit-content;
  padding: 0.6rem 2rem;
  border: 1.5px solid var(--primary-font);
  border-radius: 4px;
  position: relative;
  transition: all 0.3s ease;
}
.hero .resume-btn::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  color: var(--white);
  transition: all 0.3s ease;
  background-color: var(--primary-font);
  z-index: -1;
}

.hero .resume-btn:hover::after {
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero .resume-btn:hover {
  color: var(--white);
}
.social-icone {
  width: 250px;
  margin-top: 30px;
  justify-content: flex-start;
  gap: 25px;
  /* margin: 35px 0 0 -15px; */
  /* background-color: var(--secondary-bg); */
}
.social-icone i {
  font-size: 2rem;
  width: 1.5rem;
  height: 1.5em;
  transition: all 0.3s ease-in-out;
}
.social-icone i:hover {
  transform: scale(1.2);
}
.hero-right {
  width: 19.5rem;
  height: 19.5rem;
}
.hero-right img {
  width: 100%;
  height: 100%;
}
/* -------------------------------------------------- */

.header {
  margin: 50px 0 0;
  padding: 25px 0;
  background: var(--primary-font);
  text-transform: uppercase;
  font-family: Inter;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.header .center {
  margin: auto;
  position: relative;
}
.navbar {
  width: 100%;
  justify-content: center;
  gap: 2rem;
  position: relative;
  /* overflow-x: hidden; */
}

.navlist li:nth-child(2) {
  margin: 0 210px 0 0;
}
.navlist li a {
  padding: 0.6rem 1rem;
  margin: 0 0.5rem;
  color: var(--white);
  font-size: 1rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.navlist li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--primary-bg);
  bottom: 0;
  left: 0%;
  z-index: 10;
  transition: all 0.3s ease;
}
.navlist li a.active::after,
.navlist li a:hover::after {
  left: 5%;
  width: 95%;
}

.brand {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 111;
  transform: translateX(-125px) translateY(-24px);
  width: fit-content;
  margin-left: -14px;
}
.navbar .brand #brand-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -weblit-transform: translate(-50%, -50%);
  border: 10px solid var(--white);
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
  -weblit-transition: 0.5s !important;
  z-index: 2;
  box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
  width: 11.25rem;
  border-radius: 50%;
}
#brand-txt {
  margin-left: 0.7rem;
  color: var(--white);
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.brand-txt .brand-title {
  font-size: 1.4rem;
  margin: 0 0 0.6rem;
}
.brand-txt .brand-subtitle {
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger i {
  font-size: 1.2rem;
  color: var(--white);
  transition: 0.3s;
}

/* ************************************** */
/* about */
/* ************************************** */
.about {
  /* width: 100vh; */
  overflow-x: hidden;
}
.about .row {
  width: 70%;
}
.about .container .info-box {
  width: 100%;
  backdrop-filter: blur(10px);
}
.info-box .heading {
  text-align: left;
  margin: 20px 0;
}
.info-heading {
  margin-top: 10px;
}
.info-box .info-content {
  margin: 0 auto 30px;
  padding: 0 8px;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.5s ease;
}

.info-box .info-content .info {
  flex-wrap: wrap;
  gap: 1rem;
  opacity: 0;
  /* padding-left: 25px; */
  justify-content: flex-start;
}
.info-box .info-content .info p {
  width: 100%;
  margin: 0 0 0.3rem;
}
.about .info-content:nth-child(1) h3,
.about .info-content:nth-child(2) h3 {
  margin-bottom: -5px;
}
.info .i-item {
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  color: var(--primary-font);
  padding: 7px 12px;
  transition: all 0.3s ease-in-out;
}
.info .i-item:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.674);
}
/* ******************************** */
/* Portfolio */
/* ******************************** */
.portfolio .project {
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: hidden;
}

.p-item {
  /* width: 95%; */
  margin: auto;
  gap: 0;
  align-items: start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.44);
  border-radius: 5px;
  transition: all 0.5s ease-in;
  animation: projectdisplay 1s;
  overflow: hidden;
  opacity: 1;
}
.p-item:hover {
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.874);
}
@keyframes projectdisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-img {
  width: 40%;
  padding-left: 15px;
}
.p-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.p-info {
  width: 60%;
  padding: 15px 25px;
  margin-top: 5px;
  gap: 1.5rem;
  align-items: flex-start;
}
.p-info .p-name h3 {
  font-size: 1.3rem;
}
.p-tool-list {
  margin-top: -15px;
  gap: 0.8rem;
  font-size: 0.8rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
}
.p-tool {
  width: fit-content;
  padding: 5.5px 10px;
  border-radius: 3px;
  background-color: #3b5060;
  color: #fff;
}
.p-links {
  gap: 1rem;
}
.p-links a {
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.p-links a i {
  font-size: 1.5rem;
}
.p-links a:hover {
  border: 1px solid gray;
}

/* .p-item.visible:nth-child(odd) {
  transform: translateX(0px);
  opacity: 1;
}
.p-item:nth-child(odd) {
  transform: translateX(-100px);
}
.p-item.visible:nth-child(even) {
  transform: translateY(0px);
  opacity: 1;
}
.p-item:nth-child(even) {
  transform: translateX(100px);
} */

/* ********************************************** */
/* contect */
/* ********************************************* */
.contect .c-box {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: start;
}
.c-right {
  /* flex: 35%; */
  justify-content: flex-start;
  margin: 2rem 0;
  gap: 1.5rem;
}
.c-right .c-link {
  width: 9.9rem;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.44);
  padding: 1.1rem;
  object-fit: contain;
  color: var(--primary-font);
  transition: all 0.5s ease;
  opacity: 1;
  /* transform: translateX(70px); */
}
/* .c-link.visible {
  transform: translateX(0px);
  opacity: 1;
} */
.c-right .c-link .c-link-icone {
  font-size: 1.5rem;
}
.c-right .c-link .c-link-name {
  padding-top: 7px;
  padding-bottom: 3px;
  font-size: 1rem;
}
.c-right .c-link .c-link-address {
  font-size: 0.75rem;
}
.c-right .c-link:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(128, 128, 128, 0.61);
}
.c-left {
  height: fit-content;
  flex: 60%;
}
.c-left .heading,
.c-right .heading {
  margin-bottom: 20px;
}
.c-left .form {
  width: 100%;
}
.c-left .form .input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  justify-content: left;
  margin-bottom: 25px;
  transition: all 0.5s ease;
  opacity: 1;
  /* transform: translateX(100px); */
}
/* .c-left .form .input-field.visible {
  transform: translateX(0px);
  opacity: 1;
} */
.c-left .form .input-field label {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.9rem;
}
.c-left .form .input-field input,
.c-left .form .input-field textarea {
  outline: none;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.44);
  border-radius: 3px;
  font-size: 1rem;
  color: var(--primary-font);
  margin-top: 10px;
  padding: 7px 15px;
  transition: all 0.3s ease;
}
.c-left .form .input-field input:focus,
.c-left .form .input-field textarea:focus {
  box-shadow: 0 3px 10px rgba(128, 128, 128, 0.61);
}
.c-left .form .input-field input::placeholder,
.c-left .form .input-field textarea::placeholder {
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 500;
}
.c-left .form .btn {
  width: fit-content;
  gap: 8px;
  padding: 0.6rem 2.5rem;
  margin: 0;
  color: var(--white);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: var(--secondary-font);
  transition: all 0.3s ease-in-out;
}
.c-left .form .btn:hover {
  background-color: var(--primary-font);
}
.footer {
  padding: 2rem;
  background-color: var(--primary-font);
}
.footer h3 {
  font-weight: 400;
  letter-spacing: 0.08rem;
  color: var(--white);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  background-color: var(--secondary-font);
  color: var(--white);
  cursor: pointer;
  padding: 12.5px 16px;
  border-radius: 100px;
  font-size: 1.2rem;
  border: 2px solid var(--primary-font);
  transition: all 0.3s ease;
}
#myBtn:hover {
  border: 2px solid var(--secondary-font);
  background-color: var(--secondary-bg);
}
